.ListaProductos{
    width: 1200px;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    padding-top: 120px;
}
.containerProd{
    display: flex;
    background-color: white;
    transition: all 0.2s;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 7px;
    margin-top: 0px;
}
.containerProd:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.22);
-webkit-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.22);
-moz-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.22);
background-color: rgba(225, 225, 225, 0.633);
}
.containerMainProd{
    width: 1200px;
    display: flex;
    justify-content: space-between;border-radius: 20px;
    position: static;
}
.container{
    font-size: 22px;
}
.containerPrice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}
.containerRemove{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 290px;
    margin-right: 15px;
}
.removerProd{
    width: 60px;
    height: 60px;
    background-color: rgba(182, 182, 182, 0.633);
    border-style: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 7px;

}
.removerProd:hover{
    background-color: rgb(208, 2, 2);
    transform: scale(1.1);
    color: white;

}
.priceTotal{
    display: flex;
    justify-content: space-around;
    background-color: rgba(225, 225, 225, 0.633);
    list-style: none;
    text-align: center;
    align-items: center;
    box-shadow: 0px 5px 20px -3px rgba(0,0,0,0.37);
    -webkit-box-shadow: 0px 5px 20px -3px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 5px 20px -3px rgba(0,0,0,0.37);
    margin-top: 0;
    padding-top: 30px;
}
.priceTotal{
    font-size: 20px;
}
.cleanCart{
    width: 180px;
    height: 40px;
    background-color: rgba(182, 182, 182, 0.633);
    border-style: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: ease 0.2s;
    cursor: pointer;
    font-size:13px;
}
.cleanCart:hover{
    background-color: rgb(208, 2, 2);
    transform: scale(1.04);
    color: white;
}
.inicio{
    width: 180px;
    height: 40px;
    background-color: rgb(0, 97, 162);
    border-style: none;
    color: white;
    border-radius: 4px;
    transition: ease 0.2s;
    cursor: pointer;
    font-size:13px;
}
.inicio:hover{
    background-color: rgb(1, 68, 113);
    transform: scale(1.1);
    cursor: pointer;
    color: white;
}
.totalQuantity{
    position: absolute;
    top: 40px;
    right: 290px;
    width: 25px;
    height: 25px;
    color: white;
    background-color: rgb(0, 97, 162);
    border-radius: 50%;
    text-align: center;
    align-content: center;
}
.starBuy{
    width: 180px;
    height: 40px;
    background-color: rgba(0, 97, 162, 0.71);
    border-style: none;
    color: white;
    border-radius: 4px;
    transition: ease 0.2s;
    cursor: pointer;
    font-size:13px;
}
.starBuy:hover{
        background-color: rgb(0, 97, 162);
        transform: scale(1.1);
        cursor: pointer;
        color: white;
}
.nameProd{
    width: 700px;
}

.link{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 767px){
    .cart{
        display: none;
    }
}