*{
    margin: 0;
    padding: 0;
}

.cartWidgetLink{
    height: 60px;
    margin: auto;
    text-decoration: none;
    color: rgb(20, 20, 20);
    transition: ease .2s;
}
.cartWidgetLink:hover{
    background-color: #9300e7;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    height: 60px;
}
.cartWidget{
    display: flex;
    margin: auto;
    justify-content: space-between;
}
#data{
    margin: auto 5px auto 5px;
}
#price{
    transform: translateY(7px);
}
#quantity{
    transform: translateY(-9px);
}
#cart{
    font-size: 25px;
    margin-top: 15px;
}

/*MOBILE*/
@media screen and (max-width: 767px){
    .cartWidget{
        display: none;
    }
}
/*TABLET*/
@media screen and (min-width:767px) and (max-width:1023px){
    .cartWidget{
        display: none;
    }
}