*{
    margin: 0;
    padding: 0;
}
.cartWidget{
    background-color: #9300e7;
    padding: 5px;
    width: 140px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    align-items: center;
    border-radius: 3px;
    color: white;
}