*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}
#icon{
    width: 25px;
    height: 25px;
}
.footer{
    padding-block:50px;
    color: rgb(65, 65, 65);
    font-weight: 400;
}
.footer_container{
    max-width: 1160px;
    margin: auto;
    padding: 0 15px;
}
.footer_top{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    row-gap: 20px;
}
.footer_title{
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-bottom: 20px;
    font-weight: 700;
    color: rgb(65, 65, 65);
}
.footer_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translateX(-30px);
}
.footer_list-item{
    list-style: none;
    font-weight: 400;
    color: rgb(45, 45, 45);
}
.footer_list-link{
    text-decoration: none;
    color: inherit;
    transition: color .17s;
}
.footer_list-link:hover{
    color: #9300e7;
}
.footer_divider{
    margin-block: 25px;
    border: none;
    border-top: 2px solid rgba(0,0,0,.1);
}
.footer_bottom{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.footer_bottom .footer_list{
    flex-direction: row;
}
#creator{
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-weight: 500;
}
.hora{
    list-style: none;
    margin-left: 10px;
    font-weight: 500;
}
#none{
    text-decoration: none;
    list-style: none;
    
    color: rgb(45, 45, 45);
}