*{
    margin: 0;
    padding: 0;
}

/*MOBILE*/
@media screen and (max-width: 767px){
    .nav{
        background-color: #ff9a00;
        height: 100px;
        width: 100%;
        position: fixed;
        box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.32);
        -webkit-box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.32);
        -moz-box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.32);
        z-index: 1;
    }
    .tamanio{
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .toggle{
        position: relative;
        width: 70px;
        height: 70px;
        background: #fff;
        box-shadow: 0 10px 20px rgba(0,0,0,0.08);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-top: auto;
        margin-bottom: auto;
        z-index: 2;
        cursor: pointer;
    }
    .toggle span{
        position: absolute;
        width: 40px;
        height: 4px;
        background: #1863ff;
        border-radius: 4px;
        transition: 0.5s;
    }
    .toggle span:nth-child(1){
        transform: translateY(-15px);
        width: 25px;
        left: 15px;
    
    }
    .toggle.active span:nth-child(1){
    width: 40px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
    background-color: red;
    }
    .toggle span:nth-child(2){
        transform: translateY(15px);
        width: 15px;
        left: 15px;
    }
    .toggle.active span:nth-child(2){
        width: 40px;
        transform: translateY(0px) rotate(315deg);
        transition-delay: 0.25s;
        background-color: red;
        }
    .toggle.active span:nth-child(3){
        transform: translateX(60px);
    }
    .logoContainer{
        display: flex;
        flex-direction: row;
        margin: auto 80px auto 0;

    }
    .logo{
        width: 80px;
        height: 80px;
        position: fixed;
        z-index: 2;
        margin-top: -40px;
    }
    .titulo{
        display: none;
    }
    .cartContainer{
        display: none;
    }
    .cartContainer{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80%;
        background-color: #ff9a00;
        justify-content: flex-start;
        position: absolute;
        position: fixed;
        z-index: 1;
        margin-left: -100%;
        padding-top: 120px;
        transition: all 0.5s;
    }
    .etiqueta{
        height: 50px;
        width: 100%;
        margin: 10px 0 10px 0;
        background-color: transparent;
        border-style: none;
        cursor: pointer;
        font-size: 25px;
        font-weight: 400;
        color: rgb(45, 45, 45);
    }
    .activee {
        margin-left: -16%;
    }
    .links{
        display: flex;
        flex-direction: column;
    }
    
}







/*TABLET*/
@media screen and (min-width:767px) and (max-width:1023px){
}

/*ESCRITORIO*/
@media screen and (min-width:1024px){
}