*{
    margin: 0;
    padding: 0;
}

/*MOBILE*/
@media screen and (max-width: 767px){
    .nav{
        background-color: #ff9a00;
        height: 75px;
        width: 100%;
        position: fixed;
        z-index: 1;
        box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.32);
        -webkit-box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.32);
        -moz-box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.32);
        z-index: 1;
        display: flex;
    }
    .tamanio{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .logo{
        width: 65px;
        height: 65px;
    }
    
    .logoContainer{
        width: 65px;
        height: 65px;
        margin-right: -10px;
        width: 90%;
        display: flex;
        justify-content: flex-end;
        z-index: 1;
        position: absolute;
    }
    
    .titulo{
        display: none;
    }
    .cartContainer{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80%;
        background-color: #ff9a00;
        justify-content: flex-start;
        position: fixed;
        z-index: 1;
        margin-left: -100%;
        padding-top: 120px;
        transition: all 0.5s;
    }
    .etiqueta{
        height: 50px;
        width: 100%;
        margin: 10px 0 10px 0;
        background-color: transparent;
        border-style: none;
        cursor: pointer;
        font-size: 25px;
        font-weight: 400;
        color: rgb(45, 45, 45);
        overflow: hidden;
        text-decoration: none;
    }
    
    .log{
        display: flex;
        flex-direction: column;
        transform: translateX(25%);
        color: rgb(20, 20, 20);
        text-decoration: none;
    }
    #login{
        display: none;
    }
    .activee {
        margin-left: -16%;
    }
    /* burger button */
    .toggle{
        position: relative;
        width: 65px;
        height: 65px;
        background: #fff;
        box-shadow: 0 10px 20px rgba(0,0,0,0.08);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-top: auto;
        margin-bottom: auto;
        z-index: 2;
        cursor: pointer;
    }
    .toggle span{
        position: absolute;
        width: 35px;
        height: 4px;
        background: #9300e7;
        border-radius: 4px;
        transition: 0.5s;
    }
    .toggle span:nth-child(1){
        transform: translateY(-15px);
        width: 25px;
        left: 15px;
    
    }
    .toggle.active span:nth-child(1){
    width: 40px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
    background-color: red;
    }
    .toggle span:nth-child(2){
        transform: translateY(15px);
        width: 15px;
        left: 15px;
    }
    .toggle.active span:nth-child(2){
        width: 40px;
        transform: translateY(0px) rotate(315deg);
        transition-delay: 0.25s;
        background-color: red;
        }
    .toggle.active span:nth-child(3){
        transform: translateX(60px);
    }
}

/*TABLET*/
@media screen and (min-width:767px) and (max-width:1023px){
    .nav{
        background-color: #ff9a00;
        height: 75px;
        width: 100%;
        position: fixed;
        z-index: 1;
        box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.32);
        -webkit-box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.32);
        -moz-box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.32);
        z-index: 1;
        display: flex;
    }
    .tamanio{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .logo{
        width: 65px;
        height: 65px;
    }
    
    .logoContainer{
        width: 65px;
        height: 65px;
        margin-right: -10px;
        width: 90%;
        display: flex;
        justify-content: flex-end;
        z-index: 1;
        position: absolute;
    }
    
    .titulo{
        display: none;
    }
    .cartContainer{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80%;
        background-color: #ff9a00;
        justify-content: flex-start;
        position: fixed;
        z-index: 1;
        margin-left: -100%;
        padding-top: 120px;
        transition: all 0.5s;
    }
    .etiqueta{
        height: 50px;
        width: 100%;
        margin: 10px 0 10px 0;
        background-color: transparent;
        border-style: none;
        cursor: pointer;
        font-size: 25px;
        font-weight: 400;
        color: rgb(45, 45, 45);
        overflow: hidden;
        text-decoration: none;
    }
    
    .log{
        display: flex;
        flex-direction: column;
        transform: translateX(25%);
        color: rgb(20, 20, 20);
        text-decoration: none;
    }
    #login{
        display: none;
    }
    .activee {
        margin-left: -16%;
    }


    /* burger button */
    .toggle{
        position: relative;
        width: 65px;
        height: 65px;
        background: #fff;
        box-shadow: 0 10px 20px rgba(0,0,0,0.08);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-top: auto;
        margin-bottom: auto;
        z-index: 2;
        cursor: pointer;
    }
    .toggle span{
        position: absolute;
        width: 35px;
        height: 4px;
        background: #9300e7;
        border-radius: 4px;
        transition: 0.5s;
    }
    .toggle span:nth-child(1){
        transform: translateY(-15px);
        width: 25px;
        left: 15px;
    
    }
    .toggle.active span:nth-child(1){
    width: 40px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
    background-color: red;
    }
    .toggle span:nth-child(2){
        transform: translateY(15px);
        width: 15px;
        left: 15px;
    }
    .toggle.active span:nth-child(2){
        width: 40px;
        transform: translateY(0px) rotate(315deg);
        transition-delay: 0.25s;
        background-color: red;
        }
    .toggle.active span:nth-child(3){
        transform: translateX(60px);
    }
}

/*ESCRITORIO*/
@media screen and (min-width:1024px){
    .nav{
        background-color: #ff9a00;
        height: 75px;
        width: 100%;
        position: fixed;
        box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.32);
        -webkit-box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.32);
        -moz-box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.32);
        z-index: 10;
    }
    .tamanio{
        display: flex;
        margin: auto;
        width: 1000px;
        height: 100%;
        justify-content: space-between;
    }
    .toggle{
        display: none;
    }
    
    .logoContainer{
        display: flex;
        flex-direction: row;
        margin: auto 80px auto 0;
        align-items: center;
    }
    .logo{
        width: 65px;
        height: 65px;
    }
    .titulo{
        display: flex;
        font-size: 25px;
        margin-left: 10px;
        font-weight: 700;
        color: rgb(20, 20, 20);
    }
    .cartContainer{
        display: flex;
        flex-direction: row;
        width: 500px;
        justify-content: space-between;
        margin: auto;
        align-items: center;
    }
    a{
        text-decoration: none;
    }
    .etiqueta{
        display: flex;
        align-items: center;
        width: 85px;
        height: 35px;
        background-color: #ffffff;
        align-content: center;
        border-radius: 3px;
        font-weight: 600;
        color: rgb(20, 20, 20);
        text-decoration: none;
        cursor: pointer;
        transition: ease 0.15s;
    }
    .etiqueta:hover{
        background-color: #eeeeee;
        color: rgb(20, 20, 20);
    }
    .log{
       margin: auto; 
       font-weight: 600;
       text-decoration: none;
       color: rgb(20, 20, 20);
    }
    .log:hover{
        
        color: rgb(20, 20, 20);
    }
    #cartbtn{
        display: none;
    }
    #login{
        display: none;
    }
}

