*{
    margin: 0;
    padding: 0;
}

/*MOBILE*/
@media screen and (max-width: 767px){
    .formPayment{
        padding: 120px 10px 0 10px;
        width: 100%;
        align-items: center;
        text-align: center;
        margin: auto;
    }
    .formulario{
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
    }
    .formul{
        background-color: aqua;
        width: 90%;
        margin: 0 auto 0 auto;
    }
    .divForm{
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: rgb(238, 238, 238);
        margin: auto;
        margin-top: 10px;
    }
    .name{
        font-size: 23px;
    }
    .llenar{
        width: 55%;
    }
}